<%= form_for(course) do |f| %>
  <% if course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :course_name %>
    <%= f.text_field :course_name %>

    <h4>Add content</h4>

    <% if local_assigns.has_key?(:contents) %>
      <%= f.collection_check_boxes :content_ids, contents, :id, :content_one do |c| %>
        <%= c.check_box %>
        <%= c.label %>
        <br>
      <% end %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
